<html lang='en'>
<head>
  <title>Login</title>
  <script src='https://cdn.jsdelivr.net/npm/jquery@3/dist/jquery.min.js'></script>
  <script src='https://cdn.jsdelivr.net/npm/bootstrap@4/dist/js/bootstrap.min.js'></script>
  <link rel='stylesheet'
        href='https://cdn.jsdelivr.net/npm/bootstrap@4/dist/css/bootstrap.min.css' />
  <link rel="shortcut icon" href="https://bgm.tv/img/favicon.ico" type="image/x-icon" />
  <style>
    #header {
      position: relative;
      height: 50px;
      background: #fcfcfc;
      border-bottom: 1px solid #ddd;
      box-shadow: 0 0 0 1px rgba(250, 250, 250, 0.8);
      background: linear-gradient(top, #fcfcfc, #fafaf9);
    }

    #header a.avatar {
      box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3), 0 0 2px rgba(0, 0, 0, 0.3) inset;
      border-radius: 3px;
    }

    #header a.avatar img {
      padding: 5px;
      min-width: 50px;
    }

    div.bg {
      background: url('https://bgm.tv/img/rc3/bg_musume.png') 0 -10px no-repeat;
      width: 40px;
      height: 50px;
    }
  </style>
</head>
<body>
<div id='header' class='container-fluid'>
  <div class='row d-flex justify-content-around h-100'>
    <div class='col-6'>
      <div class='row'>
        <div class='col-2'>
          <a href='/p1/demo/'>
            <div class='bg musume_0'></div>
          </a>
        </div>
        {{{title}}}
        <div class='col-5 d-flex align-content-around align-items-center'>demo</div>
      </div>
    </div>
    <div class='col-1 h-100 d-flex justify-content-center align-items-center'>
      {{#if user}}
        <a href="https://api.bgm.tv/v0/users/{{user.username}}" class="h-100 avatar">
          <img class="img-fluid h-100" src="{{user.avatar.large}}" alt="">
        </a>
      {{else}}
        <a href='./login' class='h-50 text-decoration-none text-dark'> 登录 </a>
      {{/if}}
    </div>
  </div>
</div>
<div class='container mt-5'>
  {{{body}}}
</div>
</body>
</html>
