{% assign title = 'user' %}
{% layout 'layout' %}

{% block content %}
<div class='container mt-5'>
  <div class='row'>{{ user.username }} 已经登录</div>
  <div class='row'>user id {{ user.id }}</div>
  {% if notifyCount %}
    <div class='row'>{{ notifyCount }} 条新通知</div>
  {% endif %}

  {% if notify.length %}
    <div class='row'>
      <ul class='list-group'>
        {% for x in notify %}
          <li class='list-group-item'>
            <span>time={{ x.createdAt | date: "'%Y-%m-%d %H:%M:%S'" }}</span>
            <span>id={{ x.id }}</span>
            <span>type={{ x.type }}</span>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
  <div class='row'>
    <button class='btn btn-danger' onclick='logout()'>登出</button>
  </div>
  <script>
    async function logout() {
      await fetch('/p1/logout', { method: 'post' });
      location.reload();
    }
  </script>
</div>

<script>
  const wsUrl = function() {
    const loc = new URL('/p1/sub/notify', window.location);
    return 'ws' + loc.toString().slice('http'.length);
  };

  function conn() {
    const webSocket = new WebSocket(wsUrl());

    webSocket.addEventListener('message', (ev) => {
      console.log(ev);
    });

    webSocket.addEventListener('close', () => {
      console.log('ws connection closed, reconnect in 5s');
      setTimeout(() => {
        console.log('re-connecting websocket');
        conn();
      }, 5000);
    });
  }

  console.log('connecting websocket');
  conn();
</script>
{% endblock %}
